[Desktop Entry]
Type=Application
Exec=gnome-terminal -- bash -c "path/to/welcomeKoans/koans.sh; exec bash"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_NG]=Terminal
Name=Terminal
Comment[en_NG]=Welcome Zen Koan
Comment=Welcome Zen Koan
