[Desktop Entry]
Type=Application
Exec=gnome-terminal -- bash -c "$HOME/welcomingKoans/koans.sh; exec bash"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_NG]=Terminal
Name=Terminal
Comment[en_NG]=Welcoming Koan
Comment=Welcoming Koan
